.button {
  width: 40px;
  height: 40px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  border: none;
  cursor: pointer;

  transition: all 0.5s;
}

.primary {
  background-color: var(--green);
}

.primary svg * {
  fill: var(--white);
}

.primary:hover,
.primary:focus {
  background-color: var(--light-green);
}

.white {
  background-color: var(--white);
}

.white svg * {
  fill: var(--primary);
}

.white:hover,
.white:focus {
  background-color: var(--primary);
}

.white:hover svg *,
.white:focus svg * {
  fill: var(--white);
}
