.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  padding: 10px 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.logo {
  font-family: Righteous, sans-serif;
  font-size: 40px;
  line-height: 54px;
  will-change: color;
  transition: color 0.5s;
}

.logo:hover,
.logo:focus {
  color: var(--blue);
}
