:root {
  --primary-font: "Open Sans", sans-serif;
  --black: #333333;
  --white: #fff;
  --blue: #0284d0;
  --green: #28a745;
  --light-green: #2ebf4f;
  --grey: #808080;
  --light-grey: #f4f4f4;
  --red: #eb5757;
  --linear-grad: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
  max-width: 100vw;
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  color: var(--black);
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

button,
input,
textarea {
  font-family: inherit;
}

.swiper-pagination-bullet {
  width: 24px !important;
  height: 22px !important;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: var(--white);
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
}

.swiper-pagination-bullet-active {
  background: #007aff;
}
